.DS_Store
**/.idea/
.vscode/
dist/

build/
sync/
*.userdb/
installation.yaml
user.yaml
# *.custom.yaml
# !others/**/*.custom.yaml

# custom_phrase_double.txt
others/script/scel2txt/out/*
others/script/scel2txt/scel/*
cn_dicts/temp.txt

*private*

rime_console
rime_deployer
rime_patch

# Rime本体
lua/func_translator.lua
lua/tex_translator.lua
chaizi_flypy.dict.yaml
chaizi_flypy.tr.dict.yaml
chaizi.custom.yaml
chaizi.schema.yaml
custom_phrase_lunapy.txt
dbpy_flypy_help.txt
double_pinyin.custom.yaml
double_pinyin.schema.yaml
easy_en.dict.yaml
easy_en.schema.yaml
emoji.dict.yaml
emoji.schema.yaml
flypy_flypy.dict.yaml
flypy_zrmfast.custom.yaml
flypy_zrmfast.dict.yaml
flypy_zrmfast.schema.yaml
luna_pinyin.anime.dict.yaml
luna_pinyin.biaoqing.dict.yaml
luna_pinyin.chat.dict.yaml
luna_pinyin.cn_en.dict.yaml
luna_pinyin.computer.dict.yaml
luna_pinyin.custom.default.yaml
luna_pinyin.custom.full.yaml
luna_pinyin.custom.yaml
luna_pinyin.english.dict.yaml
luna_pinyin.extended.dict.yaml
luna_pinyin.extra_hanzi.dict.yaml
luna_pinyin.game.dict.yaml
luna_pinyin.history.dict.yaml
luna_pinyin.moba.dict.yaml
luna_pinyin.movie.dict.yaml
luna_pinyin.music.dict.yaml
luna_pinyin.net.dict.yaml
luna_pinyin.place.dict.yaml
luna_pinyin.poetry.dict.yaml
luna_pinyin.sgmain.dict.yaml
luna_pinyin.sgplus.dict.yaml
luna_pinyin.sgplus2.dict.yaml
luna_pinyin.shopping.dict.yaml
luna_pinyin.user.dict.yaml
luna_pinyin.webdict.dict.yaml
luna_pinyin.website.dict.yaml
mysymbols.yaml
pinyin_switch.yaml
rime_ice.schema.yaml
rime.lua
super_rime.01.dict.yaml
super_rime.01.schema.yaml
super_rime.02.dict.yaml
super_rime.02.schema.yaml
super_rime.03.dict.yaml
super_rime.03.schema.yaml
uppercase.txt